__pycache__/
*.pyc
db.sqlite3
venv/
.env
*.pyo
*.pyd
.DS_Store
*.log
*.pot
local_settings.py

# Резервные копии
backups/
*.zip
*.json
*.sql
*.dump

# Статика
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Render
*.db